/* style.css */
:root {
    --red: #A6001A;
    --red-dark: #800014;
    --red-bugis-dark: #450202;
    --red-bugis: #570000;
    --red-bugis-gradient: linear-gradient(0deg, #450202, #810000);
    --gold-bugis: linear-gradient(90deg, #9D6729, #D6A369, #9D6729);
    --white-bugis: #FFEFDC;
    --yellow-bugis: #b88143;
    --muted: #6b6b6b;
    --frame-w: 400px
}

* {
    box-sizing: border-box
}


/*FONT */

.font-greatvibes {
    font-family: 'Great Vibes', cursive;
}

.font-caudex {
    font-family: 'Caudex', serif;
}

.font-pinyon {
    font-family: 'Pinyon Script', cursive;
}

.font-cormorant {
    font-family: 'Cormorant', serif;
}

/* Hilangkan scrollbar global, tapi tetap bisa scroll */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* Judul besar (nama pengantin) */
h1,
.script-font {
    font-family: 'Great Vibes', cursive;
}

/* Teks elegan untuk isi */
body,
p,
span,
.serif-font {
    font-family: 'Caudex', serif;
}

/* Subjudul atau teks klasik */
h2,
h3,
.title-font {
    font-family: 'Caudex', serif;
}



.text-opening-the-wedding-of {
    font-size: 30px;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
    color: var(--white-bugis);
    font-family: 'Pinyon Script', cursive;
}

.text-opening-name {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-opening-and {
    font-size: 80px;
    line-height: 1;
    font-family: 'Great Vibes', cursive;
}

.text-opening-date {
    font-size: 25px;
    line-height: 1;
    color: var(--white-bugis);

}



.text-bugis-gradient {
    background: linear-gradient(90deg, #9D6729, #D6A369, #9D6729);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* Untuk browser modern */
    color: transparent;
    /* Fallback */
}

/*========== MUSIC==============*/

/* Tombol musik mengambang */
#music-btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: linear-gradient(90deg, #9D6729 0%, #D6A369 50%, #9D6729 100%);
    color: #fff;
    border-radius: 50%;
    width: 44px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    opacity: 1;
    pointer-events: auto;
}


/* MUSIC ============================================================= /

    /* Efek berputar ketika musik aktif */
#music-btn.music-active i {
    animation: spin 4s linear infinite;
    color: #fff;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Efek hover */
#music-btn:hover {
    transform: scale(1.1);
}

/* END ==================================================================== /


    /* END */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Inter, Poppins, system-ui;
    background: var(--red);
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE & Edge */
    overflow-y: scroll;
    /* tetap bisa scroll */
    overflow: hidden;
    /* supaya tidak ada scroll global */
    color: var(--white-bugis) !important;
    font-family: 'Caudex', serif !important;

}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.page-bg {
    position: fixed;
    inset: 0;
    background-color: #270006;
    background-size: cover;
    background-position: center;
    z-index: 0
}

.stage {
    display: grid;
    place-items: center;
    height: 100vh;
    z-index: 2
}

.frame {
    width: 100%;
    max-width: var(--frame-w);
    height: 95vh;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 18px 50px rgba(0, 0, 0, 0.12)
}

.text-script {
    font-family: 'Pinyon Script', cursive;
    font-size: 2.4rem;
    line-height: 1.05;
    font-weight: 400;
    /* Pinyon Script hanya regular */
    letter-spacing: 0;
    /* script biasanya pakai spacing default */
}

/* loader */

#loader {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loader.hide {
    opacity: 0;
    pointer-events: none;
}

.loader {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: linear-gradient(180deg, #570000, #450202);
    color: #fff;
    z-index: 9999
}

.loader-inner {
    text-align: center
}

.loader-heart {
    font-size: 56px;
    animation: beat 1.2s infinite
}

@keyframes beat {
    0% {
        transform: scale(1)
    }

    30% {
        transform: scale(1.2)
    }

    50% {
        transform: scale(1)
    }
}

.loader-text {
    margin-top: 12px;
}

/*SECTION 03*/
.mempelai-ilustration {
    width: 100px;
    margin: 0 auto 30px;
    display: block;
}

.inner-wrapper-01 {
    background: var(--white-bugis);
    border-radius: 200px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 40px 12px;
    border: 4px solid var(--yellow-bugis);
}


.inner-wrapper-02 {
    background: var(--red-bugis);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.065);
    text-align: center;
    padding: 36px 12px;
    border: 4px solid var(--yellow-bugis);
}


.text-script-01 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    margin-bottom: 12px;
}

.text-script-02 {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 12px;
}

.h-text-01 {
    font-family: 'Caudex', serif;
    font-size: 20px;
    line-height: normal;
}

.zi-text-small {
    font-size: 12px;
}

.text-description {
    font-family: 'Cormorant', serif;
    font-size: 14px;
    color: black;
    padding: 12px;
}

.wrapper {
    display: inline-block;
    position: relative;
}


.photo-mempelai {
    width: 180px;
    border-radius: 200px;
    object-fit: cover;
    border: 4px solid var(--white-bugis);
    box-shadow: 0 0 0 4px #c49b6b;
    position: relative;
    z-index: 2;
    /* foto berada di tengah */
}


.mempelai-leaf {
    position: absolute;
}

/* Daun kiri di belakang foto */
.mempelai-leaf-left {
    left: -50px;
    transform: translateY(-50%) rotate(-10deg);
    z-index: 1;
    animation-delay: 0s;
    width: 160px;
    bottom: -120px;
    animation: float 4s ease-in-out infinite;
}

/* Daun kanan di atas foto */
.mempelai-leaf-right {
    right: -30px;
    transform: translateY(-50%) rotate(10deg);
    z-index: 3;
    animation-delay: 2s;
    width: 90px;
    bottom: -62px;
    animation: float 4s ease-in-out infinite;
}

/* Animasi bergerak lembut */
@keyframes float {

    0%,
    100% {
        transform: translateY(-50%) rotate(0deg);
    }

    50% {
        transform: translateY(-60%) rotate(5deg);
    }
}

.mempelai-short-name {
    font-family: 'Great Vibes';
    font-size: 40px;
    margin-top: 16px;
    background: linear-gradient(90deg, #9D6729, #D6A369, #9D6729);
    -webkit-background-clip: text;
    color: transparent;
}

.mempelai-and {
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    color: var(--red-bugis);
    margin: 20px;
}

.mempelai-full-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Caudex', serif;
}

.mempelai-parent-name {
    font-size: 16px;
    color: black;
    font-style: italic;
    margin-top: 5px;
}







/* pages */
.page {
    position: absolute;
    inset: 0;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center
}


/*SECTION STYLING*/

/* SECTION 01 - OPENING */
#halamancover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.6s ease;
}

#halamancover.exit {
    opacity: 0;
    transform: scale(1.02);
    pointer-events: none;
}

#halamancover.visible {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.wi-cover-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    z-index: -2;
}

.leaf {
    position: absolute;
    bottom: -70px;
    width: 180px;
    z-index: 3;
}

.leaf.left {
    left: -70px;
    animation: floatLeft 6s ease-in-out infinite alternate;
}


.leaf.right {
    right: -70px;
    animation: floatRight 6s ease-in-out infinite alternate;
}


.zi-overlay-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgb(87 0 0), rgb(55 0 0 / 70%), rgb(87 0 0 / 0%));
    z-index: 1;
}


.cover-inner {
    text-align: center;
    color: #FFEFDC;
    font-family: 'Caudex', serif;
    position: absolute;
    bottom: 50px;
    z-index: 5;
}

.text-cover-01 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.text-cover-02 {
    font-size: 2.5rem;
    font-family: 'Great Vibes', cursive;
    color: #DE9F4C;
    margin: .3rem 0;
    font-weight: 500;

}

.text-cover-03 {
    letter-spacing: 2px;
    margin-block: 0;
}

.text-cover-04 {
    font-size: .95rem;
}


.guest-name {
    font-size: 1.5rem;
    color: #DE9F4C;
    margin: 0.25rem;
}

.buka-undangan {
    display: inline-block;
    padding: 1.5px;
    border-radius: 50px;
    background: linear-gradient(90deg, #FBCC95 0%, #FFDFB9 49%, #FBCC95 100%);
}

#openBtn {
    background: linear-gradient(90deg, #9D6729 0%, #D6A369 50%, #9D6729 100%);
    color: var(--white-bugis);
    font-weight: 600;
    padding: 8px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 0.85rem;
    font-family: 'Caudex', serif;
}

#openBtn:hover {
    filter: brightness(1.5);
    /* transform: translateY(-2px); */
    transition: 0.3s ease;
}

/* END */


.zi-btn {
    background: var(--gold-bugis);
    color: var(--white-bugis);
    font-weight: 600;
    padding: 6px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: fit-content;
    font-size: 12px;
    font-family: 'Caudex', serif;
}

.zi-btn:hover {
    filter: brightness(1.5);
    /* transform: translateY(-2px); */
    transition: 0.3s ease;
}




.cover {
    background: linear-gradient(180deg, rgba(166, 0, 26, 0.03), rgba(255, 240, 240, 0.03));
    z-index: 3
}

/* .sections {
    position: absolute;
    inset: 0;
    z-index: 2
} */

.sections {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-scroll {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 12px;
    padding-bottom: 100px;
}

.inner-section {
    /* position: relative;
    flex: 1 0 auto;
    height: calc(100% - var(--bottom-menu-height, 70px));
    /* menyesuaikan tinggi menu */
    /* overflow-y: auto; */
    /* konten bisa scroll di dalam section */
    /* scroll-behavior: smooth;
    display: none; */


    flex: 1;
    /* otomatis isi ruang di atas bottom menu */

}

.page-inner {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
}


.page-inner-center {
    /* height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d4b07b;
}


.zi-icons {
    color: var(--yellow-bugis);


}

.section {
    transform: translateY(100%);
    opacity: 0;
    transition: transform .55s cubic-bezier(.22, .9, .28, 1), opacity .35s
}

.section.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto
}

.cover.active {
    transform: translateY(0);
    opacity: 1
}

.cover.exit {
    transform: translateY(-8%);
    opacity: 0
}



.pre {
    font-size: 14px;
    margin-bottom: 6px
}


.note {
    color: var(--muted);
    font-size: 14px
}

.cover-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 18px
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer
}



.btn.primary {
    background: var(--red);
    color: #fff
}

.btn.ghost {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.06)
}

.btn:hover {
    transform: translateY(-4px)
}

/* couple card */
.couple-card {
    display: flex;
    gap: 12px;
    align-items: center
}

.couple-card .avatar {
    width: 88px;
    height: 88px;
    border-radius: 999px;
    background: #f6eaea;
    display: grid;
    place-items: center;
    color: var(--red)
}

/* forms */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.06)
}

label {
    font-size: 13px;
    color: var(--muted)
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 14px
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 8px 28px rgba(166, 0, 26, 0.06);
    border-color: var(--red)
}

.form-actions {
    text-align: right
}

/* wish list */
.wish-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 260px;
    overflow: auto
}

.wish-card {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.04)
}

.wish-meta {
    font-size: 12px;
    color: var(--muted);
    margin-bottom: 6px
}

/* gallery */
.video-frame iframe {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    border: 0
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 12px
}

.thumb {
    width: 100%;
    height: 96px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer
}

.text-gold-bugis-gradient {
    background: var(--gold-bugis);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.red-bugis {
    color: var(--red-bugis);
}


/*Animasi Bunga*/
@keyframes floatLeft {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(-2deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes floatRight {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(2deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

/* countdown */
.countdown {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px
}

.cd {
    width: 68px;
    height: 74px;
    border-radius: 12px;
    background: var(--red-bugis-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.06)
}

.num {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Caudex', serif;
    font-size: 30px;
}

.lbl {
    font-size: 12px;
    color: var(--white-bugis);
    font-family: 'Cormorant', serif;
    font-style: italic;
}

/* bottom menu */
.bottom-menu {
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 12px;
    background: linear-gradient(90deg, #9D6729, #EFB776, #9D6729);
    z-index: 40;
    height: 85px;
    border-radius: 18px 18px 0 0;
    box-shadow: 0 -5px 20px 2px rgb(0 0 0 / 13%);

    position: sticky;

}

.menu-viewport {
    overflow-x: auto
}

.menu-track {
    display: flex;
    gap: 8px;
    padding: 6px;
    align-items: center;
    display: flex;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: transform;
}






.menu-item {
    flex: 0 0 auto;
    min-width: 66px;
    max-width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    background: linear-gradient(90deg, #fbcc95b8, #ffdfb942, #fbcc95b8);
    border: none;
    color: var(--red-bugis-dark);
    cursor: pointer;
    gap: 3px;
}




.menu-item .fa-solid {
    font-size: 18px
}

.menu-item span {
    font-size: 11px;
}

.menu-item:hover {
    background: var(--gold-bugis);
    transform: translateY(-6px);
    color: var(--white-bugis);

}

.menu-item.active {
    background: var(--red-bugis-gradient);
    box-shadow: 0 10px 24px rgba(166, 0, 26, 0.12);
    border-top: 3px solid #6b0c1b;
    color: var(--yellow-bugis);
}




#qr-btn {
    position: fixed;
    bottom: 80px;
    right: 90px;
    /* sedikit ke kiri dari tombol musik */
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

#qr-btn:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 1);
}


/* modal */
.modal {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 99999
}

.modal.hidden {
    display: none
}

.modal-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6)
}

.modal-content {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    z-index: 2;
    max-width: 92%;
    max-height: 92%;
    overflow: auto
}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
    background: transparent;
    font-size: 18px
}

@media(max-width:420px) {
    .frame {
        border-radius: 0;
        height: 100vh;
        max-width: 100vw
    }

}